.card{
    background-color: white;
    max-width: 400px;
    width: 100%;
    height: 260px;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 40px rgba(31, 31, 31, 0.1);
}